html{
  font-size: 62.5%; /* 16px x62.5 = 10 px (1 ren) */
  box-shadow: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header" 
  "main" 
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}
.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
color: #ffffff;
text-decoration: none;
}
.header-links a:hover{
  color: rgb(255, 0, 64);
}
.main{
  grid-area:main;
  
}
.footer{
  grid-area: footer;
  display: flex;
  background-color: #203040;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

/* Home Screen */
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color: #808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
a{
  text-decoration: none;
}
a:hover{
  color: #ff8000;
}
.product-rating{
  margin-bottom: 1rem;
}
.sidebar{
  position: fixed;
  transform: translate(-30rem);
  width: 30rem;
  background-color: gray;
  height: 100%;
}
.sidebar ul li{
  text-decoration: none;
}
.sidebar.open{
  transform: translateX(0);
}
.closeNev{
  border-radius: 50%;
  border-radius: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .3rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
}

/* Product details */
.product-details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.product-details-image{
  flex: 2 1 70rem;
}
.product-details-image img{
  max-width: 60rem;
  widows: 100%;
}
.products-details-info{
  flex: 1 1 10rem;
  justify-content: space-between;
  align-items: flex-end;
}
.backToHome{
  flex: 1 1 10rem;
}

.products-details-info  ul {
  list-style-type: none;
  padding:0;
}
.products-details-action ul li{
  list-style-type: none;
  padding:none;
  margin-bottom: 1rem;
}
.products-details-action{
  border: .1rem solid #ff8000;
  border-radius: .5rem;
  background-color: gray;
  padding-right: 10rem;
}
.products-details-action ul li:last-child{
  display: flex;
  background-color: #ff8000;
  flex-direction: colomn;
}